<div class="header-top">
<div class="logo"></div>
<nav>
	<ul>
		<li><a href="javascript:;">首页</a></li>
		<li class="subMenu">
			<a href="javascript:;">列表</a>
			<ul style="display: none">
				<li><a href="javascript:;">商品1</a></li>
				<li><a href="javascript:;">商品2</a></li>
				<li><a href="javascript:;">商品3</a></li>
			</ul>
		</li>
		<li><a href="javascript:;">关于</a></li>
		<li><a href="javascript:;">联系</a></li>
	</ul>
</nav>	
</div>

<div class="header-mid">
	mid
</div>

<div class="header-bot">
	bot
</div>
